.card-pic{
    object-fit: contain;
    width: 400px;
    height: 200px;
    background-color: rgb(255, 0, 0);
}

.card-image{
    width: 100%;
    background-color: red;
    
}

.card{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.right{
    background-color: red;
    color: white;
    padding: 2px 15px;
}